@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(/VPN/src/font/OpenSans.ttf)
}

html {
  font-family: "Open Sans", monospace;
  background-color: #0b0c10;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #5cc4bd;
  font-weight: bold;
}

header {
  font-weight: bold;
  font-size: 1.5rem;
  color: #5cc4bd;
}

.menu {
  color: #e5e6e7;
  margin-bottom: 3%;
}

span {
  white-space: pre;
}

body {
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  max-width: 70em;
  color: #e5e6e7;
}

.warning {
   
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #66fcf1;
}

img {

  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

td, th {
  padding: 20px;
  border: 1px solid #d5d6d7;
}
